body {
    background: linear-gradient(170deg, #a2e436, #a2e436 50%, #fff 50%, #fff 85%, #a2e436 85%);
	background-repeat: no-repeat;
	min-height: 100vh;
}

/* .product-dashboard {
	width: 70%;
	margin: auto;
} */

.product-dashboard > img {
	width: 90%;
}

.active-link > svg {
  fill: #a2e436;
}

.active-link > span {
  color: #a2e436;
}

.profile {
	border-radius: 50%;
	border: 5px solid #a2e436;
	background-color: white;
}